/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body{
	text-align: center;
}

nav{
	background-color: #808080;
}

a{
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
}

a:hover{
	background-color: #ee5f3c;
}

.clearfix:after{
		visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

h1{
	color: rgb(2,132,130);
}

h2{
	color: #FFD700;
}

.board{
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card{
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	background: #FFFF00;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

.name{
	color:#FF0000;
}

footer{
	background-color: #808080;
}